{% extends "/base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
    Solr Search on Product Name:<br>
    <div id="solr_div">

    <form action="/web/search-receipts">
        <input type="text" name="s" class="glyphicon search">
        <input type="submit" value="Search" class="btn-primary">
    </form>
    </div>
<br>
<div class="row">
    <div class="col-sm-3">

    Narrow Results By:<br><br>
    {% if products %}
    <h4>Product:</h4>

    <ul class="list-group">
        {% for p in products %}
        {% set new_filter_by = 'product_name:"' + p.name + '"'%}
        {% if filter_by %}
            {% set new_filter_by = filter_by + " AND " + new_filter_by %}
        {% endif %}
        <li class="list-group-item"><span class="badge">{{ p.amount}}</span> <a href="{{ makeURL("/web/search-receipts","s", search_term, "filter_by", new_filter_by) }}">{{ p.name }}</a></li>
        {% endfor %}
    </ul>
    <br>
    {% endif %}

    {% if zips %}
    <h4>Zip:</h4>
    <ul class="list-group">
        {% for z in zips %}
        {% set new_filter_by = 'customer_zip:"' + z.customer_zip + '"' %}
        {% if filter_by %}
            {%   set new_filter_by = filter_by + " AND " + new_filter_by %}
        {% endif %}
        <li class="list-group-item"><span class="badge">{{ z.amount }}</span> <a href="{{ makeURL("/web/search-receipts","s", search_term, "filter_by", new_filter_by) }}">{{ z.customer_zip }}:</a></li>
        {% endfor %}
    </ul>

    {% endif %}
  </div>
  <div class="col-sm-9">
        {{ receipts.product_name }}
        <table width="1000" class="table table-striped table-hover">
        <th>Receipt Id</th>
        <th>Date/Time</th>
        <th>Total</th>
        <th>Details</th>
        {% if receipts %}
            {% for r in receipts %}
                <tr>
                <td><a href="/web/product?product_id={{ r.receipt_id }}">{{ r.receipt_id }}</a></td>

                <td>{{ r.receipt_timestamp }}</td>
                <td>${{ r.total }}</td>
                <td><a href="/web/receipt?receipt_id={{ r.receipt_id }}">details</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
</div>

{% endblock %}

{% block tail %}
{% endblock %}
